<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.Account.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Account.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>Controller.Account.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.View.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controller.View.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.Account.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.View.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerHomepageController</servlet-name>
        <servlet-class>Controller.Manager.ManagerHomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUpdateProductController</servlet-name>
        <servlet-class>Controller.Manager.ManagerUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.View.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.View.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.View.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingController</servlet-name>
        <servlet-class>Controller.View.TrackingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareProductController</servlet-name>
        <servlet-class>Controller.View.CompareProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderController</servlet-name>
        <servlet-class>Controller.Manager.ManagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderDetailController</servlet-name>
        <servlet-class>Controller.Manager.ManagerOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFeedbackController</servlet-name>
        <servlet-class>Controller.Manager.ManagerFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>Controller.Admin.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>Controller.View.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerIncomeController</servlet-name>
        <servlet-class>Controller.Manager.ManagerIncomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerOrderController</servlet-name>
        <servlet-class>Controller.Saler.SalerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIncomeController</servlet-name>
        <servlet-class>Controller.Admin.AdminIncomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.Admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.Admin.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserController</servlet-name>
        <servlet-class>Controller.Admin.ManagerUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserController</servlet-name>
        <servlet-class>Controller.Admin.addUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>Controller.Admin.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerCustomerController</servlet-name>
        <servlet-class>Controller.Saler.SalerCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.Admin.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.Admin.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerController</servlet-name>
        <servlet-class>Controller.View.EditCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomepageController</servlet-name>
        <servlet-class>Controller.Admin.AdminHomepageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/auth/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/auth/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/auth/login</url-pattern>
        <url-pattern>/auth/LoginWithGoogle</url-pattern>
        <url-pattern>/view/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/view/HomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/auth/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/view/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerHomepageController</servlet-name>
        <url-pattern>/manager/ManagerHomepageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/manager/ManagerProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddProductController</servlet-name>
        <url-pattern>/manager/ManagerAddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUpdateProductController</servlet-name>
        <url-pattern>/manager/ManagerUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/view/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/view/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/view/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingController</servlet-name>
        <url-pattern>/view/TrackingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareProductController</servlet-name>
        <url-pattern>/view/CompareProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderController</servlet-name>
        <url-pattern>/manager/ManagerOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderDetailController</servlet-name>
        <url-pattern>/manager/ManagerOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFeedbackController</servlet-name>
        <url-pattern>/manager/ManagerFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/admin/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/view/OrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerIncomeController</servlet-name>
        <url-pattern>/manager/ManagerIncomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerOrderController</servlet-name>
        <url-pattern>/saler/SalerOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIncomeController</servlet-name>
        <url-pattern>/admin/AdminIncomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/admin/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserController</servlet-name>
        <url-pattern>/admin/ManagerUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserController</servlet-name>
        <url-pattern>/admin/addUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/admin/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerCustomerController</servlet-name>
        <url-pattern>/saler/SalerCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/admin/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/admin/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerController</servlet-name>
        <url-pattern>/view/EditCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomepageController</servlet-name>
        <url-pattern>/admin/AdminHomepageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
